body {
    margin: 5% auto;
    background: #f2f2f2;
    color: #444;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.8;
    text-shadow: 0 1px 0 #fff;
    max-width: 75%
}

code {
    display: block;
    white-space: pre-wrap;
    background: #fff
}

a {
    border-bottom: 1px solid #444;
    color: #444;
    text-decoration: none
}

a:hover {
    border-bottom: 0
}

.bib_label {
    cursor: pointer
}

#publication9:not(:checked) ~ #bibtex9 {
    display: none
}

#publication8:not(:checked) ~ #bibtex8 {
    display: none
}

#publication7:not(:checked) ~ #bibtex7 {
    display: none
}

#publication6:not(:checked) ~ #bibtex6 {
    display: none
}

#publication5:not(:checked) ~ #bibtex5 {
    display: none
}

#publication4:not(:checked) ~ #bibtex4 {
    display: none
}

#publication3:not(:checked) ~ #bibtex3 {
    display: none
}

#publication2:not(:checked) ~ #bibtex2 {
    display: none
}

#publication1:not(:checked) ~ #bibtex1 {
    display: none
}